body{
    margin: 0;
    padding: 0;
    
}
.centre{
    display: block;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.left{
    float: left;
    display: inline-block;
}
.right{
    float: right;
    display: inline-block;
}


#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #102626;
}
.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(#0001,#0004);
}
.container .loader{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #0d2323;
    animation:animate 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.container .loader::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top,transparent,rgba(0,255,249,0.4));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius:100px ;
    border-bottom-left-radius:100px ;
}
.container .loader::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    z-index:10;
    box-shadow: 0 0 10px #00fff9,
    0 0 20px #00fff9,
    0 0 30px #00fff9,
    0 0 40px #00fff9,
    0 0 50px #00fff9,
    0 0 60px #00fff9,
    0 0 70px #00fff9,
    0 0 80px #00fff9,
    0 0 90px #00fff9,
    0 0 100px #00fff9;
}
.container .loader span{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #102626;
    border-radius: 50%;
}


header{
    height: 90px;
}
#logo{
    height: 80px;
    padding-top: 5px;
    padding-left: 10px;
}
header a:link, header a:visited{
    color: brown;
    text-decoration: none;
}
#menubar{
    height: 60px;
    float: right;
    margin-right: 5px;
}
.menu{
    height: 20px;
    display: inline-block;
    font-size: 20px;
    padding: 35px 20px 35px 20px;
    text-align: center;
    margin-right: -5px;
}
#home{
    color: mintcream;
    background: brown;
    font-weight: bold;
    opacity: 100%;
}
#home:hover{
    opacity: 90%;
}
#unreal:hover{
    opacity: 75%;
    background: black;
    color: mintcream;
}
#amazon:hover{
    opacity: 75%;
    background: purple;
    color: mintcream;
}
#cry:hover{
    opacity: 75%;
    background: gray;
    color: mintcream;
}
#unity:hover{
    opacity: 75%;
    background: black;
    color: mintcream;
}


#colosseum{
    margin: 0;
    object-fit: cover;
    height: 570px;
    background-image: url("../Assets/colosseum.jpg");
    padding-top: 100px;
    animation: textanimation 5s ease-in-out;
    background-attachment: fixed;
}
@keyframes textanimation{
    0%{
        letter-spacing: 20px;

    }
    100%{
        letter-spacing: 1px; 
    }
}

#colorect{
    float: inside;
    height: 150px;
    padding-top: 110px;
    font: 120px BattleLines;
    text-align: center;
    color: mintcream;
}

#btn1{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #ff0;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(50px);
}


#introduction{
    background: url("../Assets/intro.jpg");
    height: 800px;
    color: mintcream;
    background-attachment: fixed;
}
.subheading{
    float: left;
    height: 150px;
    font: 120px BattleLines;
    text-align: left;
    
}
.content{
    float: left;
    height: 150px;
    font: 28px "Road Rage";
    text-align: left;
}
.content a:link, .content a:visited{
    color: mintcream;
    text-decoration: none;
}
@keyframes contentheadanim {
    0%{color: goldenrod}
    50%{color: silver}
    100%{color: goldenrod}
}
.contentface{
    animation-name: contentheadanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}


#gameengines{

    background: url("../Assets/gaen.jpg");
    height: 800px;
    color: mintcream;
    background-attachment: fixed;

}


#foot{
    height: 500px;
    background-attachment: fixed;
}
#foothead{
    width: 100%;
    color: black;
    font: 80px Bungee;
    text-align: center;
    
}
#footcontent{
    font: 30px Bungee;
}
footer a:link, footer a:visited{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
#laavart{
    float: left;
    text-align: left;
}
#manisha{
    float: right;
    text-align: right;
}
.members{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
}